@import 'variables.scss';

.Pill {
  font-family: Raleway;
  background: $greyTwo;
  border: none;
  padding: 6px;
  border-radius: 5px;
  margin: 4px;
}

.Pill.button {
  cursor: pointer;
  transition: background 250ms;
  &:hover {
    background: $greyThree;
  }
}