@import 'variables.scss';

.StudentProfiles {
  margin: 60px auto;
  height: 80vh;
  width: 60%;
  overflow: scroll;
  background: $white;
  border-radius: 8px;
  box-shadow: 0px 2px 10px -5px $black;
}

.noStudents {
  margin-top: 40px;
  font-size: 30px;
  text-align: center;
}
